
<!--this nav bar loads before logging in-->
<div *ngIf="!isLoggedIn" >
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <a class="navbar-brand "  style="color: white;" href="#"><h2>GitHub</h2></a>
        </nav>
      </div>
<!--nav bar ends here-->


<!--this nav bar loads after logging in -->
<div class="container-fluid bg-dark">
  <nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark rounded ">
      <div class="container">
              <a class="navbar-brand " routerLink="" (click)="navigateUser()">GitHub</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbarNav" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link " routerLink="" data-toggle="collapse" data-target=".navbarNav" (click)="navigateUser()">Profile <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link " routerLink="" data-toggle="collapse" data-target=".navbarNav" (click)="navigateSearch()" >Search <span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
              </div>
              
              <div *ngIf="isLoggedIn" class="navbar-collapse collapse w-100 order-3 dual-collapse2 navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" data-toggle="collapse" (click)="logout()" routerLink = "">Logout</a>
                      </li>
                  </ul>
              </div>
      </div>
  </nav>
</div>

<!--nav bar ends here-->
<router-outlet></router-outlet>
